player-connection-mode=Listen
player-connection-guid=1642153317
player-connection-debug=0
player-connection-project-name=Module 3
player-connection-ip=192.168.1.9
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=87fa3deb8b7945f5bad803bdc2c9f3b3
